<div class="dashboard">
  <div *ngIf=""></div>

  <!-- KPI Cards Rows -->
  <section class="kpi-row" aria-label="Key Performance Indicators">
    <app-kpi-card
      title="Total Alerts"
      [value]="kpiData.totalAlerts"
      icon="notifications_active"
      colorClass="color-red"
      format="number"
      [trend]="-3"
    >
    </app-kpi-card>

    <app-kpi-card
      title="Active Users"
      [value]="kpiData.activeUsers"
      icon="group"
      colorClass="color-blue"
      format="number"
      [trend]="12"
    >
    </app-kpi-card>

    <app-kpi-card
      title="System Health"
      [value]="kpiData.systemHealth"
      icon="health_and_safety"
      colorClass="color-green"
      format="percentage"
      [trend]="2"
    >
    </app-kpi-card>

    <app-kpi-card
      title="Response Time"
      [value]="kpiData.responseTime"
      icon="speed"
      colorClass="color-orange"
      format="ms"
      [trend]="-8"
    >
    </app-kpi-card>
  </section>

  <!-- chart rows -->

  <section class="charts-row" aria-label="Dashboardd Charts">
    <div class="chart-card chart-wide">
      <h3>Real-Time System Load</h3>
      <app-chart *ngIf="lineChartConfig" chartType="line" [config]="lineChartConfig" height="280px">
      </app-chart>
    </div>

    <div class="chart-card">
      <h3>System Metrics</h3>

      <app-chart *ngIf="barChartConfig" chartType="bar" [config]="barChartConfig" height="280px">
      </app-chart>
    </div>

    <div class="chart-card">
      <h3>Alert Distribution</h3>

      <app-chart *ngIf="pieChartConfig" chartType="pie" [config]="pieChartConfig" height="280px">
      </app-chart>
    </div>
  </section>
</div>
